<!DOCTYPE html>
<html>
    <head>
        <title> Update Class </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <h1> Updating Class </h1>
        <div id="content">
            <form action="/admin">
                 <button> Return to Admin Page </button>
            </form>
            <br>
            <form method="POST">
            
                Subject: <input type="text" name="subject"
                            value="<%= classInfo.subject %>"><br>    
                Class Number: <input type="text" name="classNumber"
                            value="<%= classInfo.classNumber %>"><br>    
                Class Title: <input type="text" name="title"
                            value="<%= classInfo.title %>"><br>
                            
                <input type="hidden" name="id" value="<%= classInfo.id %>"> 
                
                <br><br>
                <button>Update Class</button><br>
            
                <%= typeof(message) != "undefined"?message:"" %>
                
            </form>       
        </div>
         

    </body>
</html>