<!DOCTYPE html>
<html>
    <head>

        <title> <%= classInfo.title %></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <style>
            
            .comment {
                margin-left: 50px !important;
                outline: 1px dashed !important;
                border-radius: 10px !important;
                margin-right:5px !important;
            }
            
            .post {
                background-color:#c4c2c1 !important;
                border-radius: 10px !important;
            }
            
            
        </style>
        
        
    </head>
    <body>
        
            <h1> <%= classInfo.subject + " " + classInfo.classNumber + ": " + classInfo.title %> </h1>

            <a onclick="addConfirm()" class="addClass" href="/addClass?classId=<%= classInfo.id %>">JOIN</a><br>
            <%= typeof(message) != "undefined"?message:"" %>
            <br> <br>
            
            <form method="POST" action="/newPost?classId=<%= classInfo.id %>">
                Create new post: <br>
                <textarea rows = "5" cols = "60" name="text"></textarea><br>
                <input type = "submit" value = "Post"/>
            </form>
            

        
        <%if (comments=="None") { %>
                <h3>No posts yet!</h3>
            <% } else {%>
                
                <% for(let i = 0; i < comments.length; i++){ %> 
                    
                    <% if (!comments[i].threadId) { %>
                      <div class="post">
                          
                         <h3> <%= comments[i].userName%> </h4>
                        <p> <%= comments[i].text%> </p>
                        
                    
                        <% for(let j = 0; j < comments.length; j++){ %>
                        
                        
                        <%if (comments[j].threadId == comments[i].identifier){  %>
                            <div class="comment">
                                <h4> <%= comments[j].userName %> </h4>
                                <p> <%= comments[j].text%> </p>
                            </div>
                            
                        <% } %>
                    <% } %>
                        <br>
                        <form method="POST" action="/newReply?classId=<%= classInfo.id %>&commentId=<%=comments[i].identifier%>" class="replyForm">
                            <textarea rows = "2" cols = "60" name="text"></textarea><br>
                            <input type = "submit" value = "Reply"/>
                        </form>
                    
                      </div>
                        
                    
                    <% } %>
                    
                    
                    
            
                <% }  %>
            <% } %>
    
    </body>
</html>