<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
        

    
    
    </head>
    <body>

        <h1> Classes </h1>
        

        <form method="POST">
        
            Subject: <select name="subject">
                <option>BIO</option>
                <option>BUS</option>
                <option>CST</option>
                <option>ENVS</option>
                <option>FYS</option>
                <option>HCOM</option>
                <option>KIN</option>
                <option>MATH</option>
                <option>PSY</option>
                <option>SL</option>
            </select>
            Class Number: <input type="text" name="classNumber"><br>
            <button>Search for Class</button>
            
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>  
        
        
        <%if (typeof(classes) != "undefined") { %>
        
            <%if (classes=="None") { %>
                <h3>No classes found!</h3>
            <% } else {%>
                <% classes.forEach( function(class_){ %> 
                <div>
                    <i><%= class_.quote %></i> <br>
                    <a href="/classPage?classId=<%= class_.id %>">-<%= class_.subject %> <%= class_.classNumber %> </a>
                </div>
                <br><br>
                <% })  %>
            <% } %>
        <% }%>

        
    </body>
</html>
